
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        ===
        This comment should NOT be removed.

        Charisma v2.0.0

        Copyright 2012-2014 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
        ===
    -->
    <meta charset="utf-8">
    <title>Ojas Innovative Technologies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    <!-- The styles -->
    <link id="bs-css" href="~/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="~/css/charisma-app.css" rel="stylesheet">
    <link href='~/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='~/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='~/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='~/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='~/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='~/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='~/css/jquery.noty.css' rel='stylesheet'>
    <link href='~/css/noty_theme_default.css' rel='stylesheet'>
    <link href='~/css/elfinder.min.css' rel='stylesheet'>
    <link href='~/css/elfinder.theme.css' rel='stylesheet'>
    <link href='~/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='~/css/uploadify.css' rel='stylesheet'>
    <link href='~/css/animate.min.css' rel='stylesheet'>
    <!-- jQuery -->
    <script src="~/bower_components/jquery/jquery.min.js"></script>
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The fav icon -->
    <link rel="shortcut icon" href="~/img/logo1.png">

    <style>
        input[type=text] {
            padding: 12px 20px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 12px 30px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }

        canvas {
            /*prevent interaction with the canvas*/
            pointer-events: none;
        }
    </style>
    <script>
var code;
function createCaptcha() {
  //clear the contents of captcha div first
  document.getElementById('captcha').innerHTML = "";
  var charsArray =
  "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!#$%^&*";
  var lengthOtp = 6;
  var captcha = [];
  for (var i = 0; i < lengthOtp; i++) {
    //below code will not allow Repetition of Characters
    var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
    if (captcha.indexOf(charsArray[index]) == -1)
      captcha.push(charsArray[index]);
    else i--;
  }
  var canv = document.createElement("canvas");
  canv.id = "captcha";
  canv.width = 100;
  canv.height = 50;
  var ctx = canv.getContext("2d");
  ctx.font = "25px Georgia";
  ctx.strokeText(captcha.join(""), 0, 30);
  //storing captcha so that can validate you can save it somewhere else according to your specific requirements
  code = captcha.join("");
  document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
}
function validateCaptcha() {
  event.preventDefault();
  debugger
  if (document.getElementById("cpatchaTextBox").value == code) {
      alert("Valid Captcha");
      if ($('#txtUsername').val() == "superadmin") {
          window.location.href = "https://localhost:44333/SuperAdmin/Dashboard";
      }
      if ($('#txtUsername').val() == "admin") {
          window.location.href = "https://localhost:44333/Admin/AdminDashboard";
      }
      if ($('#txtUsername').val() == "user") {
          window.location.href = "https://localhost:44333/User/UserDashboard";
      }
  }else{
    alert("Invalid Captcha. try Again");
    createCaptcha();
  }
}

    </script>
</head>
<body onload="createCaptcha()">
    <div class="ch-container">
        <div class="row">

            <div class="row">
                <div class="col-md-12 center login-header">
                    <h2>Welcome to Ojas Time Sheet</h2>
                </div>
                <!--/span-->
            </div><!--/row-->
            <div class="row">
                <div class="well col-md-5 center login-box">
                    <div class="alert alert-info">
                        Please login with your Username and Password.
                    </div>
                    <form class="form-horizontal" action="" method="post" onsubmit="validateCaptcha()">
                        <fieldset>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                                <input type="text" class="form-control" placeholder="Username" id="txtUsername">
                            </div>
                            <div class="clearfix"></div><br>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div id="captcha">
                            </div>
                            <input type="text" placeholder="Captcha" id="cpatchaTextBox" />
                            
                            <div class="clearfix"></div>
                            <div class="input-prepend">
                                <label class="remember" for="remember"><input type="checkbox" id="remember"> Remember me</label>
                            </div>
                            <div class="clearfix"></div>
        <p class="center col-md-5">
            <button type="submit" class="btn btn-primary">Login</button>
        </p>
                        </fieldset>
                    </form>

                    @*<div class="clearfix"></div>
                    <p class="center col-md-5">
                        <button type="submit" class="btn btn-primary" onclick="fn()">Login</button>
                    </p>*@
                </div>
                <!--/span-->
            </div><!--/row-->
        </div><!--/fluid-row-->
    </div><!--/.fluid-container-->

    <script>
        function fn() {
            if ($('#txtUsername').val() == "superadmin") {
                window.location.href = "https://localhost:44333/SuperAdmin/Dashboard";
            }
            if ($('#txtUsername').val() == "admin") {
                window.location.href = "https://localhost:44333/Admin/AdminDashboard";
            }
            if ($('#txtUsername').val() == "user") {
                window.location.href = "https://localhost:44333/User/UserDashboard";
            }
        }
    </script>
    <!-- external javascript -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- library for cookie management -->
    <script src="~/js/jquery.cookie.js"></script>
    <!-- calender plugin -->
    <script src='~/bower_components/moment/min/moment.min.js'></script>
    <script src='~/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='~/js/jquery.dataTables.min.js'></script>
    <!-- select or dropdown enhancer -->
    <script src="~/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="~/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="~/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="~/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="~/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="~/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="~/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="~/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="~/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="~/js/jquery.history.js"></script>
    <!-- application script for Charisma demo -->
    <script src="js/charisma.js"></script>

</body>
</html>

