
@{
    ViewData["Title"] = "AllExpense";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>AllExpense</h2>

<div class="row">
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">AllTimeSheet</div>
            <div class="panel-body" style="width:100%;">

                <div class="dropdown">
                    Show
                    <button class="btn btn-dropdown" type="button" data-toggle="dropdown">

                        <span class="caret"></span>
                    </button>
                    Entries
                    <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    </ul>
                    <label for="your-input" style="margin-left:690px"> Search</label>
                    <input type="text" id="your-input" style="height:30px; " placeholder="search here" />
                </div>

                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Purpose Or Reason</th>
                            <th>Status</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Total</th>
                            <th>Delete</th>
                            <th>View</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>Active</td>
                            <td>04-05-2007</td>
                            <td>9/05/2008</td>
                            <td>Submmited</td>
                            <td>
                                <button type="button" class="btn btn-info">Delete</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">View</button>
                            </td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Active</td>
                            <td>04-05-2007</td>
                            <td>9/05/2008</td>
                            <td>Submmited</td>
                            <td>
                                <button type="button" class="btn btn-info">Delete</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">View</button>
                            </td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Active</td>
                            <td>04-05-2007</td>
                            <td>9/05/2008</td>
                            <td>Submmited</td>
                            <td>
                                <button type="button" class="btn btn-info">Delete</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">View</button>
                            </td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Active</td>
                            <td>04-05-2007</td>
                            <td>9/05/2008</td>
                            <td>Submmited</td>
                            <td>
                                <button type="button" class="btn btn-info">Delete</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">View</button>
                            </td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Active</td>
                            <td>04-05-2007</td>
                            <td>9/05/2008</td>
                            <td>Submmited</td>
                            <td>
                                <button type="button" class="btn btn-info">Delete</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">View</button>
                            </td>
                        </tr>
                    </tbody>
                </table>





            </div>
        </div>
    </div>
</div>