
@{
    ViewData["Title"] = "AllTimeSheet";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>AllTimeSheet</h2>

<div class="row">
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">AllTimeSheet</div>
            <div class="panel-body" style="width:100%;">

                <div class="dropdown">
                    Show
                    <button class="btn btn-dropdown" type="button" data-toggle="dropdown">

                        <span class="caret"></span>
                    </button>
                    Entries
                    <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                    </ul>
                    <label for="your-input" style="margin-left:690px"> Search</label>
                    <input type="text" id="your-input" style="height:30px; " placeholder="search here" />
                </div>

                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>FromDate</th>
                            <th>ToDate</th>
                            <th>TotalHours</th>
                            <th>CreatedOn</th>
                            <th>Status</th>
                            <th>Comment</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>20/10/2019</td>
                            <td>20/12/2019</td>
                            <td>30</td>
                            <td>9/05/2008</td>
                            <td>Submmited</td>
                            <td></td>

                            <td>
                                <button type="button" class="btn btn-info">Details</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">delete</button>
                            </td>
                        </tr>

                        <tr>
                            <td>20/10/2019</td>
                            <td>20/12/2019</td>
                            <td>30</td>
                            <td>9/05/2008</td>
                            <td>Submmited</td>
                            <td></td>

                            <td>
                                <button type="button" class="btn btn-info">Details</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">delete</button>
                            </td>
                        </tr>

                        <tr>
                            <td>20/10/2019</td>
                            <td>20/12/2019</td>
                            <td>30</td>
                            <td>9/05/2008</td>
                            <td>Submmited</td>
                            <td></td>

                            <td>
                                <button type="button" class="btn btn-info">Details</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>20/10/2019</td>
                            <td>20/12/2019</td>
                            <td>30</td>
                            <td>9/05/2008</td>
                            <td>Submmited</td>
                            <td></td>

                            <td>
                                <button type="button" class="btn btn-info">Details</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger">delete</button>
                            </td>
                        </tr>
                    </tbody>

                </table>





            </div>
        </div>
    </div>
</div>