
@{
    ViewData["Title"] = "TimeSheet";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>TimeSheet</h2>

<div class="row">
   
    <label style="margin-left:10px">
        *From Date

    </label>
    <div>
        <input type="text" style="margin-left:10px" />

        <button type="button" class="btn btn-info" style="margin-left:620px">SaveDetails</button>
        <button type="button" class="btn btn-danger" style="margin-right:250px">Cancle</button>

    </div>


    <br />
    <div class="container">

        <table border="1" class="table table-striped table-bordered bootstrap-datatable datatable responsive">
            <thead>
                <tr>
                    <th scope="col">Project Name<br /> 2019-08-01</th>
                    <th scope="col">[Sunday]<br /> 2019-08-02</th>
                    <th scope="col">[Monday]<br /> 2019-08-03</th>
                    <th scope="col">[Tuesday]<br /> 2019-08-04</th>
                    <th scope="col">[Wednesday]<br /> 2019-08-05</th>
                    <th scope="col">[Thursday]<br /> 2019-08-06</th>
                    <th scope="col">[Friday]<br /> 2019-08-07</th>
                    <th scope="col">[Saturday]<br /> 2019-08-08</th>
                    <th scope="col">Total <br /> Hours</th>
                    <th scope="col">Description <br /> </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="dropdown">

                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="width:100px">
                                Timesheet
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <textarea name="comment" form="usrform"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="dropdown">

                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="width:100px">
                                Select
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <textarea name="comment" form="usrform"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="dropdown">

                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="width:100px">
                                Select
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <textarea name="comment" form="usrform"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="dropdown">

                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="width:100px">
                                Select
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <textarea name="comment" form="usrform"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="dropdown">

                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="width:100px">
                                Select
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <textarea name="comment" form="usrform"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="dropdown">

                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="width:100px">
                                Select
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#">10</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <input type="text" style="width:50px" />
                    </td>
                    <td>
                        <textarea name="comment" form="usrform"></textarea>
                    </td>
                </tr>
            </tbody>


        </table>
    </div>





</div>