
@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>UserDashboard</h2>

<div class="row">
    <div class="container">

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="6 new members.">
                <i class="glyphicon glyphicon-user blue"></i>

                <div>Timesheet Submited Count</div>
                <div>507</div>
                <span class="notification">6</span>
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="4 new pro members.">
                <i class="glyphicon glyphicon-star green"></i>

                <div>Timesheet ApprovedCount</div>
                <div>228</div>
                <span class="notification green">4</span>
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="34 new sales.">
                <i class="glyphicon glyphicon-shopping-cart yellow"></i>

                <div>Timesheet RejectedCount</div>
                <div>$13</div>
                <span class="notification yellow">34</span>
            </a>
        </div>



        <div class="col-md-4 col-sm-3 col-xs-6" style="margin-top:20px;">
            <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="12 new messages.">
                <i class="glyphicon glyphicon-envelope red"></i>

                <div>Expense SubmittedCount</div>
                <div>25</div>
                <span class="notification red">12</span>
            </a>
        </div>

        <div class="col-md-4 col-sm-3 col-xs-6" style="margin-top:20px;">
            <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="6 new members.">
                <i class="glyphicon glyphicon-user blue"></i>

                <div>Expense ApprovedCount</div>
                <div>50</div>
                <span class="notification">6</span>
            </a>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-6" style="margin-top:20px;">
            <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="4 new pro members.">
                <i class="glyphicon glyphicon-star green"></i>

                <div>Expense RejectedCount</div>
                <div>22</div>
                <span class="notification green">4</span>
            </a>
        </div>
    </div>

    



</div>