
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>CreateUser</h2>

<div>
    <table border="1" class="table table-striped table-bordered bootstrap-datatable datatable responsive">
        <tr>
            <th colspan="3">Create User</th>
        </tr>
        <tr>
            <td class="center">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">Name</label>
                    <input type="text" class="form-control" id="txtName">
                </div>

                
            </td>
            <td class="center">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">Mobile Number</label>
                    <input type="text" class="form-control" id="txtMobile">
                </div>
                
            </td>
            <td class="center">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">Email ID</label>
                    <input type="text" class="form-control" id="txtEmailId">
                </div>
                
            </td>
        </tr>
        <tr>
            <td class="center">
                Gender

                <div class="form-group has-success radio">
                    <label class="control-label" for="inputSuccess1">Gender</label>
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Male
                    </label>

                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Female
                    </label>
                </div>

                
            </td>
            <td class="center">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">Birth Date</label>
                    <input type="date" class="form-control" id="txtBDate">
                </div>
                
            </td>
            <td class="center">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">Date Of Joing</label>
                    <input type="date" class="form-control" id="txtDoj">
                </div>
                
            </td>
        </tr>
        <tr>
            <td class="center">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">User Name</label>
                    <input type="text" class="form-control" id="txtUName">
                </div>

                
            </td>
            <td class="center">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">Password</label>
                    <input type="password" class="form-control" id="txtPassword">
                </div>

                
            </td>
            <td class="center">
                <div class="form-group has-success">
                    <label class="control-label" for="inputSuccess1">Confirm Password</label>
                    <input type="password" class="form-control" id="txtCPassword">
                </div>


            </td>
        </tr>
        <tr>
            <td class="center">

                <a class="btn btn-success" href="#" onclick="fn()">
                    <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                    Create User
                </a>
            </td>
            <td class="center">
                <a class="btn btn-danger" href="#">
                    <i class="glyphicon glyphicon-trash icon-white"></i>
                    Clear
                </a>
            </td>
            <td class="center">
                <a class="btn btn-info" href="#">
                    <i class="glyphicon glyphicon-edit icon-white"></i>
                    All Users
                </a>
            </td>
        </tr>
    </table>
</div>

<script>
    function fn()
    {
        alert('Create User');
    }
</script>